@import "~bootstrap/scss/bootstrap";

@import "./variables";
html {
  font-size: 62.5%;
}

body {
  background-color: $black;
  color: $white;
  font-size: $fontSize;
  font-family: "PT Sans", sans-serif;
  line-height: $lineHeight;
  word-spacing: 0.2rem;
}


a {
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      color: $primary!important;
     
    }
}

main {
  height: 60vh;
}

@import "./header";
@import "./sideBar";
@import './main';